---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: white;
background-image:url('../chrome/arka_p.jpg')
}

