---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: white;
background-image:url('../chrome/arka_p.jpg')
}
a.deneme{
position:absolute; top:262px;left:300px}

.deneme2{
position:absolute; top:262px;left:600px}

a.deneme3{
position:absolute; top:262px;left:793px}

